.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container2 {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px auto 1fr 50px;
    grid-template-areas:
      "header header"
      "sidebar content"
      "sidebar content"
      "footer footer";
  }